<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ADLifeDemoEntities" connectionString="metadata=res://*/AdLifeDemo.csdl|res://*/AdLifeDemo.ssdl|res://*/AdLifeDemo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=www.cocib.net;Initial Catalog=ADLifeDemo;Persist Security Info=True;User ID=cocib;Password=cr1cket2;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
